PAYLOAD_SECRET=changeme
MONGODB_URI=mongodb://127.0.0.1:27017/payload_ecom
SERVER_URL=http://localhost:4000
PAYLOAD_PUBLIC_SERVER_URL=http://localhost:4000
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
CORS_ORIGIN=http://localhost:3000
